@model Axkri10_Draw.Models.SubFormModel

<h2>Submission form</h2>

<h3> Fill out to enter the draw</h3>

@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    <table cellpadding="0" cellspacing="0">
        <tr>
            <th colspan="2" align="center">Person Details</th>
        </tr>
        <tr>
            <td>First Name: </td>
            <td>
                @Html.TextBoxFor(m => m.FirstName)
            </td>
        </tr>
        <tr>
            <td>Sur Name: </td>
            <td>
                @Html.TextBoxFor(m => m.SurName)
            </td>
        </tr>
        <tr>
            <td>Email address: </td>
            <td>
                @Html.TextBoxFor(m => m.Email)
            </td>
        </tr>
        <tr>
            <td>Phonenumber: </td>
            <td>
                @Html.TextBoxFor(m => m.PhoneNumber)
            </td>
        </tr>
        <tr>
            <td>Date of birth: </td>
            <td>
                @Html.TextBoxFor(m => m.Birthday)
            </td>
        </tr>
        <tr>
            <td>Serial number: </td>
            <td>
                @Html.TextBoxFor(m => m.SerialNo)
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Submit" /></td>
        </tr>
    </table>
}
<br />
Your submitted details = @ViewBag.Demo